#Server
NODE_ENV=development
PORT=3000

#Database
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/mediconnect"

# Authentication
JWT_ACCESS_SECRET=replace_with_a_strong_random_secret
JWT_ACCESS_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=30d